body {
 	background:#ddd;
	font-family:arial;
	font-size:12px;
	margin:0;
	padding:10px 10px 0 10px;
	height:100%;
	color:#333;
}

/**
 * HEADER
 */
#header {
	padding-bottom: 8px;
}

#header h1 {
	font-size: 42px;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	margin-bottom: 8px;
}

#header .search {
	width: 500px;
	display: block;
	margin: auto;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}

#header .search.rounded:focus {
	border-color: #339933;
}

.noresults {
	text-align: center;
	display: none;
}

/**
 * BODY & NAVIGATION
 */
#container .wrapper {
    padding:10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    line-height:16px;
}

#container .item {
	-webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0 3px 1px rgba(100,100,100,0.2);
    -moz-box-shadow:0 0 3px 1px rgba(100,100,100,0.2);
    box-shadow:0 0 3px 1px rgba(100,100,100,0.2);
    overflow:hidden;
	background: #fff;
}

#container .item a {
	text-decoration: none;
	color: #03a8e5;
}

#container .item .meta {
	color: #aaa;
}

.button {
	font: bold 13px/1.6em  "Helvetica Neue", Arial, Verdana;
	color: white;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,.4);
	filter: dropshadow(color=#1c1c1c, offx=0, offy=1);
	display: block;
	display: inline-block;
	text-align: center;
	border: none;
	padding: 5px 35px;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 2px 0 rgba(255,255,255,.25);
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 2px 0 rgba(255,255,255,.25);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 2px 0 rgba(255,255,255,.25);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.button:hover {
	text-decoration: none;
	cursor: pointer;
}

.button:active {
	padding-top: 6px;
	padding-bottom: 4px;
	-webkit-box-shadow: inset 0 100% 0 0 rgba(0,0,0,0.2);
}

.button.white {
	color: #1a1a1a;
	text-shadow: 0 0 1px white;
	background: #f9f9f9;
	background: #f9f9f9 -webkit-gradient( linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.2)),to(rgba(0,0,0,0)));
	background: #f9f9f9 -moz-linear-gradient( top, rgba(255,255,255,.4), rgba(0,0,0,0));
}

.button.white:hover {
	background: #f9f9f9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.55)), to(rgba(0,0,0,0)));
	background: #f9f9f9 -moz-linear-gradient( top, rgba(255,255,255,.55), rgba(0,0,0,0));
}

.button.white:active {
	background: #f9f9f9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.3)), to(rgba(0,0,0,0)));
	background: #f9f9f9 -moz-linear-gradient( top, rgba(0,0,0,.1), rgba(0,0,0,0));
}

.hidden { display: none; }

.loadmore { margin: auto; text-align: center; padding-bottom: 20px; }
.loadmore button { display: none; }

/**
 * For responsive design
 */
@media (max-width: 550px) {
	#header h1 {
		font-size: 20px;
	}

	#header .search {
		width: 80%;
	}
}